.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    display: block;
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding-top: 1rem;
    transition: transform 250ms;
    width: 180px;
    &.collapsed {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
        &.open {
            transform: translateX(0);
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

.container {
    max-width: 1080px;
    /*margin: 0 auto;*/
}

header {
    background-color: #333;
}

.content {
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    margin-top: 1rem;
    flex: 1;
}

footer {
    background-color: #333;
    color: #eee;
    padding: 1rem;
    font-size: 90%;
}

main a,
footer a {
    color: var(--color-accent);
    border-bottom: 1px solid transparent;
    transition: border-bottom 250ms;
}

main a:hover,
footer a:hover {
    border-bottom: 1px solid var(--color-accent);
}

