@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

:root {
  --heading-font: 'Libre Franklin', sans-serif;
  --paragraph-font: 'Libre Franklin', sans-serif;
  --color-accent: #0af;
}
