.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.menuItem {
    color: #444;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    transition: background-color 250ms;
}

.menuItem:hover {
    background-color: #ddd;
}


