.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menuItem {
    color: #444;
    text-decoration: none;
    padding: 0.25rem 1rem;
    transition: background-color 250ms;
}

.menuItem:hover {
    background-color: #ddd;
}

.active {
    background-color: var(--color-accent);
    &:hover {
        background-color: var(--color-accent);
    }
}


