.menu {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menuItem,
.submenuItem {
    color: #222;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 250ms;
}

.submenuItem {
    padding: 0.5rem 2rem;
}

.menuItem:hover,
.submenuItem:hover {
    background-color: #ddd;
}

.active {
    background-color: var(--color-accent);
}

.active:hover {
    background-color: var(--color-accent);
}

